# =========================
# WordPress Core
# =========================
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# =========================
# Configuration
# =========================
wp-config.php

# =========================
# Project specific
# =========================
/.unlighthouse
/AA_local_temp_files/
/wordfence-waf.php
# htaccess
/.htaccess
# =========================
# wp-content structure
# =========================
/wp-content/index.php
/wp-content/languages
/wp-content/updraft
/wp-content/wflogs/*
/wp-content/wflogs/config-synced.php
/wp-content/wflogs/template.php
/wp-content/backups-dup-lite/*

# =========================
# Uploads & generated data
# =========================
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backups/

# =========================
# Ignore all plugins except custom ones
# =========================
/wp-content/plugins/*
!/wp-content/themes/Hotel-Portfolio
!/wp-content/themes/Hotel-Portfolio-api
!/wp-content/themes/Hotel-Portfolio-Marketing
!/wp-content/themes/MICE-Hotels
!/wp-content/themes/jobportal
!/wp-content/themes/revo-hotels-maps

# =========================
# Ignore all themes except custom ones
# =========================
/wp-content/themes/*

# Keep index files ignored
/wp-content/plugins/index.php
/wp-content/themes/index.php

# =========================
# Logs & system
# =========================
*.log
.DS_Store
node_modules
vendor
.env

# =========================
# Build files (optional)
# =========================
dist
build
*.map